

body {
  background-color: rgb(14, 35, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  color: rgb(0, 204, 203);
  margin-top: 15px;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchContainerTwo {
  display: flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.searchInput {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    font-family: inherit;
    font-size: 105%;
    width: 100px;
    margin: 5px;
}

.zipLabel {
  display: flex;
  justify-content: center;
  color: rgb(14, 35, 52);
  margin-bottom: 5px;
  font-weight: bold;
}

.searchButton {
  background: rgb(14, 35, 52);
  color: white;
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  font-family: inherit;
  font-size: 105%;
  width: 100px;
  margin: 5px;
}

.searchButton:hover {
  background: rgb(58, 1, 112);
}

.weather-icon {
  width: 100px;
  margin: -1;
}

.card {
  background: rgb(0, 204, 203);
  color: rgb(14, 35, 52);
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 520px;
  margin: 1em;
  display: flex;
  justify-content: center;
  margin-left: -30px;

}

.cardTwo {
  display: Flex;
  justify-content: space-around;
  
}

.temp {
  font-size: 40px;
  border-radius: -1;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  font-weight: bolder;
}

.page {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.time {
  display: flex;
  justify-content: center;
  color: white;
}